<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="css/styles.css">
    <title>Control</title>
</head>
<body>
    <div class="banner-container">
        <!--img src="img/Escritorios-modernos-01.png" alt="" height="100%" width="100%"-->
        <!--div class="container">
            <div class="word">You</div>
            <div class="word">are</div>
            <div class="word">amazing...</div>
        </div-->
        <header class="menu">
            <div class="content-menu">
                <img src="img/logoOscuro.png" width="50px" alt="">
                <nav style="width: 50%; padding: 0px; margin: 0px;">
                    <ul style="list-style: none; display: flex;">
                        <li><a>Item1</a></li>
                        <li><a>Item2</a></li>
                        <li>Item3</li>
                        <li>Item4</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="first-details">
            <div class="content-firstinfo">
                <div class="text-div">
                    <h1>Administra tus recursos como nunca antes</h1>
                    <p>Somos una plataforma que impulsa la gestión y buena clasificación de tus recursos materiales,
                        con nuestra APP podrás saber que tienes cuanto tienes y donde lo tienes en un par de clics.</p>
                </div>
                <div class="img-div">
                    <img src="img/menworkintable.png" width="600px" alt="">
                </div>
            </div>
           
            
        </div>
        <div class = "info-landing">
            <svg  xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="" style="bottom: 0px; margin-bottom:-5px;"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#fff"></path></svg>
            <div class="content-landing">
        </div>
        
    </div>   
</body>
</html>